h1 {
    text-align: center;
    margin-top: 20px;
}


#Divider {
    display: flex;
    justify-content: center;
    position: relative;
    height: 35px;
    background-color: rgb(52,58,64);
    border-top: 1px solid rgb(209, 208, 208);
    border-bottom: 1px solid rgb(209, 208, 208);
    box-shadow: 0px 0px 15px 4px rgba(0, 0, 0, 0.842);
    z-index: 10!important;
}

#HomeBody {
    height: 93vh;
    background-image: url(../../img/img0.jpg);
    background-position: center;
    background-repeat: no-repeat;
}

#Home-Text {
    color: white;
    font-style: italic;
    font-size: 60px;
    padding-top: 100px;
    padding-left: 50px;
    line-height: 1.6;
}

#Body-Text {
    color: white;
    font-style: italic;
    font-size: 50px;
    padding-top: 120px;
    padding-left: 50px;
    line-height: 1.6;
    letter-spacing: 2px;
}

#Home-Text2 {
    color: white;
    font-variant-caps: all-small-caps;
    font-size: 25px;
}

#AboutBody {
    height: 350px;
    background-image: url(../../img/img1.jpg);
}

#ServicesBody {
    height: 350px;
    background-image: url(../../img/img2.jpg); 
}

#AppointmentBody {
    height: 350px;
    background-image: url(../../img/img3.jpg);
}

#LinksBody {
    height: 350px;
    background-image: url(../../img/img4.jpg);
}

#RegisterBody {
    background-image: url(../../img/img5.jpg);
    height: 93vh;
    padding-top: 100px;
}

.Services-body {
    display: flex;
    justify-content: center;
    background-image: url(../../img/img12.jpg);
    background-size: cover;
}

.Links-body {
    background-image: url(../../img/img12.jpg);
    background-size: cover;
    height: 52vh;
}

.About-body {
    background-image: url(../../img/img12.jpg);
    background-size: cover;
    height: 52vh;
}

.Appointment-body {
    background-image: url(../../img/img12.jpg);
    background-size: cover;
    height: 52vh;
    padding-top: 20px;
}

.RegisterForm {
    width: 900px;
    margin: 0 auto 0 auto;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0px 5px 15px -2px rgba(0, 0, 0, 0.842);
    background-color: white;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(52, 58, 64, 0.719);
}

#error-text {
    color: red!important;
}

.topic-text {
    text-align: left;
    font-size: 18px;
}

.topic-header {
    text-align: center;
    font-size: 22px;
    text-decoration: underline;
    margin-bottom: 20px;
}

.topic-section {
    padding: 20px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: rgba(245, 245, 245, 0.856);
    z-index: 0;
    height: 52vh;
    box-shadow: 29px 1px 17px -20px rgba(0, 0, 0, 0.842);
}

#LoginBody {
    background-image: url(../../img/img0.jpg);
    background-position: center;
    background-repeat: no-repeat;
    height: 93vh;
    padding-top: 100px;
}

.LoginForm {
    width: 600px;
    margin: 0 auto 0 auto;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0px 5px 15px -2px rgba(0, 0, 0, 0.842);
    background-color: white;
}

.Links {
    padding: 100px;
    padding-top: 120px;
    width: 900px;
    margin: 0 auto 0 auto;
    background-color: rgba(245, 245, 245, 0.856);
    box-shadow: 29px 1px 17px -20px rgba(0, 0, 0, 0.842);
    height: 52vh;
}

.topic-phone {
    float: right;
}

.topic-links {
    position: relative;
    font-size: 24px;
    margin-bottom: 10px;
}

.Links span {
    text-decoration: none;
    color: rgb(53,59,65);
}

.Links a {
    text-decoration: none;
    color: rgb(53,59,65);
}

h1 a {
    color: #fff;
    font-size: 2em;
    text-decoration: none;
    display: inline-block;
    position: relative;
    font-family: 'Dosis', sans-serif;
}

a.effect-underline:after {
    content: '';
    position: absolute;
    display: inline-block;
    height: 1em;
    width: 700px;
    border-bottom: 2px solid;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: scale(0,1);
    transform: scale(0,1);
}
  
a.effect-underline:hover:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}
  
a.effect-underline:hover {
    color: rgb(0, 0, 153);
}

.Dashboard-Body{
    background-image: url(../../img/img0.jpg);
    background-position: center;
    background-repeat: repeat-y;
    display: flex;
    flex-direction: column;
    min-height: 93vh;
}

.Dashboard-Form{
    background: white;
    text-align: center;
    border-radius: 20px;
    width: 50%;
    margin: 0 auto 0 auto;
    padding: 30px;
    padding-top: 10px;
    box-shadow: 0px 5px 15px -2px rgba(0, 0, 0, 0.575);
    margin-top: 100px;
}

.Account-and-Profile {
    display: flex;
    flex-direction: column;
    float: left;
}

.Booking-information {
    float: right;
}

.Booking-information p {
    font-size: 16px;
    text-align: left;
    line-height: 15px;
}

.fa-user-circle {
    padding-right: 5px;
}

.dbInfo {
    font-weight: 700;
}

.dash-buttons {
    padding-top: 10px;
}

.Delete-My-Account {
    padding-top: 5px;
}

.Welcome-User {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    font-size: 20px;
}

.Welcome-User i{
   padding: 6px;
}

.dash-button {
    float: left;
}

#dash-button2 {
    float: none!important;
    margin-bottom: 30px;
}

.dbHeader {
    font-size: 22px;
    text-decoration: underline;
    text-align: left;
}

.dbHeaderRight {
    font-size: 22px;
    text-decoration: underline;
    text-align: center;
}

.Account-and-Profile p {
    font-size: 16px;
    text-align: left;
    line-height: 15px;
}

.Profile-information {
    margin-top: 20px;
}

.About-section {
    margin: 0 auto 0 auto;
    width: 1000px;
    display: flex;
    justify-content: center;
}

.About-text {
    color: white;
    font-size: 20px;
    padding: 20px;
    font-style: italic;
}

.About-text span {
    font-size: 25px;
    font-style: italic;
}

.About-img {
    padding: 20px;
    padding-top: 30px;
}

.About-img img{
    width: 150px;
    border: 1px solid white;
    padding: 5px;
    border-radius: 3px;
    box-shadow: 29px 1px 17px -20px rgba(0, 0, 0, 0.842);
}

.alert-danger {
    left: 35%;
    z-index: 100;
    position: absolute;
    text-align: center;
    top: 85px;
    width: 30%;
    color: #ff0019;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    border-radius: 40px;
    transition: all 0.5s ease-out;
}

.alert-success {
    left: 35%;
    z-index: 100;
    position: absolute;
    text-align: center;
    top: 85px;
    width: 30%;
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
    border-radius: 40px;
}

.Booking-form{
    width: 1000px;
    margin: 0 auto 0 auto;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0px 5px 15px -2px rgba(0, 0, 0, 0.842);
    background-color: white;
}

