h1 {
    text-align: center;
    margin-top: 20px;
}

#Divider {
    height: 35px;
    background-color: rgb(52,58,64);
    border-top: 1px solid rgb(209, 208, 208);
    box-shadow: 0px 5px 15px -2px rgba(0, 0, 0, 0.575);
}

#HomeBody {
    height: 93vh;
    background-image: url(../../img/img0.jpg);
    background-position: center;
    background-repeat: no-repeat;
}

#Home-Text {
    color: white;
    font-style: italic;
    font-size: 40px;
    padding-top: 100px;
    padding-left: 50px;
}

#AboutBody {
    height: 350px;
    background-image: url(../../img/img1.jpg);
}

#ServicesBody {
    height: 350px;
    background-image: url(../../img/img2.jpg); 
}

#AppointmentBody {
    height: 350px;
    background-image: url(../../img/img3.jpg);
}

#LinksBody {
    height: 350px;
    background-image: url(../../img/img4.jpg);
}

#RegisterBody {
    background-image: url(../../img/img5.jpg);
    height: 93vh;
    padding-top: 100px;
}

.RegisterForm {
    width: 900px;
    margin: 0 auto 0 auto;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0px 5px 15px -2px rgba(0, 0, 0, 0.575);
    background-color: white;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(52, 58, 64, 0.719);
}

#error-text {
    color: red!important;;
}



