.navbar {
    box-shadow: 0px 5px 15px -2px rgba(0, 0, 0, 0.842);
    font-size: 15px;
    letter-spacing: 1px;
    border-bottom: 1px solid rgb(209, 208, 208);
    background-color: rgb(52,58,64);
    z-index: 10!important;
}

.menu ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    width: 100%;
    justify-content: center;
    margin-right: 20px;
    padding-right: 50px;
}

.menu ul li {
    margin: 0 20px;
    padding: 10px;
}

.menu ul li a {
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    color: #ffffff;
}

.login-link {
    text-decoration: none!important;
    color: white!important;
    text-transform: uppercase!important;
    cursor: pointer!important;
    font-weight: 600!important;
}

.name-link {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
}

.name-link:hover {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

.btn-outline-danger {
    float: right!important;
}

.btn-outline-success {
    margin-left: 10px;
}

.effect-box:after{
    color: white;
    content: '';
    position: absolute;
    display: inline-block;
    height: 1em;
    width: 100%;
    border-bottom: 1px solid;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: scale(0,1);
    transform: scale(0,1);
}
  
.effect-box:hover:after{
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.effect-box2:after {
    color: white;
    content: '';
    position: relative;
    left: 0;
    display: block;
    width: 100%;
    border-bottom: 1px solid;
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: scale(0,1);
    transform: scale(0,1);
}
  
.effect-box2:hover:after  {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.menu-right {
    position: relative;
    margin-top: 0;
}

.profile-menu {
    display: flex;
    justify-content: center;
}

.dashboard {
    margin-right: 20px;
}

.hide-sm {
    color: white;
    font-weight: 600;
    text-transform: uppercase;
}

.icon-nav {
    color: white;
}

