.navbar {
    box-shadow: 0px 5px 15px -2px rgba(0, 0, 0, 0.575);
    font-size: 15px;
    letter-spacing: 1px;
    border-bottom: 1px solid rgb(209, 208, 208);
    background-color: rgb(52,58,64);
    height: 40px;
}

.name-link, .login-link {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

.name-link:hover, .login-link:hover {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

